<!-- Top navigation -->


<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/profile">
              <i class="fas fa-user"></i>Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <a class="nav-link" routerLink="/sign-in">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a></a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf ="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
              <div class="media-body">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
              <div class="container">
    <div class="row justify-content-center p-2">


        <h1>Fill up your details</h1>
    </div>
<div class="form-group" >
  <label><strong>Firstnames:</strong></label>
  <input type="text" class="form-control" [(ngModel)]="firstnames" placeholder="enter your firstnames">
</div>
<div class="form-group" >
  <label><strong>Age:</strong></label>

<input type="number" class="form-control" [(ngModel)]="age" placeholder="Enter your age">
</div>
<div class="form-group">

  <label><strong>Lastname:</strong></label>
<input type="text" class="form-control" [(ngModel)]="lastname" placeholder="Enter your Lastname">
</div>
<div class="form-group" >
<button class="btn btn-primary" (click)="CreateRecord()">Create Users</button>
<!-- [disabled]="!firstnames || !age || !lastnames" -->
<div class="form-group">
    <h4><b>{{message}}</b></h4>
</div>
<div class="row p-2">
  <div class="col-md-9" *ngFor ="let item of myprofile">
  <!-- <h5>All Users Data</h5> -->
   <div class="card" *ngIf ="!item.isedit; else elseBlock">
<div class="card-body">
<!-- <div class="card-title">

  <div class="card-subtitle">
    lastname: {{item.lastname}}
  </div>
  firstnames: {{item.firstnames}}
  

</div> -->

<!-- <div class="card-text">
  Age: {{item.age}}
</div> -->
<span>
  <!-- <div class="formGroup">
    <button type="button" (click)="EditRecord(item)" class="btn btn-primary">
      Edit Users
    </button>
  </div> -->
  <!-- <div class="formGroup">
<button type="button" (click)="Deleteusers(item.id)" class="btn btn-danger">Delete users</button></div> -->
</span>

    </div>

  </div>
<ng-template #elseBlock>

  <!-- <div class="card">
    <div class="card-body">
    <div class="card-title">
     Edit yyyyyfirstnames
    </div>
 <div class="row">
<div class="form-group">
<div class="col-md-12">
<input type="text" [(ngModel)]="item.firstnames"  class="form-control">
</div>
<div class="col-md-12">
<input type="text" [(ngModel)]="item.lastname"  class="form-control">
</div>
<div class="col-md-12">
<input type="number" [(ngModel)]="item.age"  class="form-control">
</div>


</div>


</div> -->
<div class="formGroup">
<button type="button" class="btn btn-danger btn-xs"  (click)="item.isedit = false">Cancel</button></div>
<div class="formGroup">
  <button type="button" class="btn btn-primary btn-xs" (click)="Updatearecord(item)">Update user</button></div>

    <span>

      <div class="formGroup">
        <button type="button" (click)="EditRecord(item)"class="btn btn-primary">Edit user</button></div>
    
        <div class="formGroup">
          <button type="button" (click)="EditRecord(item.id)" class="btn btn-danger">Delete user</button></div>
    </span>
    
        <!-- </div> -->
    
</ng-template>
</div>
</div>
            </div>
          </div>
        </div>

      </div>
      </div>
      </div>
        
    </main>

  </div>
</div>
