<div class="row justify-content-center p-2">

    <div class="col-sm-5" >
  
            <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstnames">Firstnames</label>
            <input type="text" class="form-control" id="item" placeholder="Enter your firstnames"
                  required [(ngModel)]="firstnames" name="item"/>
          </div>
          <div class="form-group" >
          <label for="age">Age</label>
          <input type="text" class="form-control" id="item" placeholder="Enter your age."
                required [(ngModel)]="age" name="item">
          </div>
          <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="item" placeholder="Enter your lastname"
              required [(ngModel)]="lastname"   name="item">
      </div>
      
          <div class="btn-group">
            <button type="submit" class="btn btn-primary" >create users</button>
          </div>
       
      <!-- <div>
        <li *ngFor="let Record of items ">{{Record.age}}</li>
        <li *ngFor="let Record of items ">{{Record.firstnames}}</li>

        <li *ngFor="let Record of items">{{Record.lastname}}</li>

      </div> -->
        </form>
      </div>
    
    </div>
